<div class="page-header">
	<h1><%= @user.username %></h1>
	<%= link_to "Add Friend", new_friendship_path(friend_id: @user), class: 'btn' %>
</div>

<% if @entries %>
	<% @entries.each do |entry| %>
		<div class="well">
			<strong><%= entry.title %></strong>
			<hr />
			<%= entry.photo %>
			<div class="meta">
		    <%= link_to "#{time_ago_in_words(entry.created_at)} ago", entry %>
		  </div>  
		</div>
	<% end %>
<% end %>