<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<!-- <#%= image_tag @entry.photo.url %> -->
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :entry_id %>
    <%= f.input :content, input_html: { rows: 4, class: 'input-xxlarge' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
