<%= simple_form_for(@entry, html: {class: "form-horizontal", multipart: true}) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 4, class: 'input-xxlarge' } %>
  <%= f.input :photo %>
  <%= f.fields_for :document do |document_fields| %>
    <% if document_fields.object.attachment? %>
    <div class="control-group">
      <label class="control-label">Current attachment</label>
      <div class="controls">
        <%= link_to document_fields.object.attachment_file_name, document_fields.object.attachment.url %>
      </div>
    </div>
    <%= document_fields.input :remove_attachment, as: :boolean, label: "Remove attachment?" %>
    <% end %>
    <%= document_fields.input :attachment, as: :file %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
