<%= simple_form_for(@entry, html: {class: "form-horizontal", multipart: true}) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 4, class: 'input-xxlarge' } %>
  <%= f.input :photo %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
