<div class="row">
  <div class="span7 offset1">
    <%= page_header do %>
      <h1>
        <div class="happyprofile" style="background-image: url('<%= @entry.user.profile_picture.url %>');">
        <%= link_to(image_tag(@entry.user.profile_picture.url), profile_path(@entry.user.handle), :style => "width:50px;") %>
      </div>
        <%= @entry.user.full_name %><br>
        <small><%= time_ago_in_words(@entry.created_at) + " ago" %></small>
      </h1>
    <% end %>

    <strong><%= @entry.title %></strong>

    <p>
    	<div class="happypost" style="background-image: url('<%= @entry.photo.url %>');">
        <%= link_to(image_tag(@entry.photo.url), profile_path(@entry.user.handle), :style => "width:500px;") %></p>
      </div><hr><br>
      <%= @entry.description %>
    </p>

    <hr />
    <div class="meta">
      <%= link_to 'Back', entries_path %>
      <% if signed_in? && @entry.user == current_user %>
        |
        <%= link_to "Edit", edit_entry_path(@entry) %> | 
        <%= link_to "Delete", @entry, method: :delete, data: { confirm: "Are you sure your want to delete this entry?"} %>
      <% end %>
    </div>
    <hr>
    <h2>Comments</h2>
    <div class="well">
    <% @entry.comments.each do |post| %>
      <% @u = User.find(post.user_id) %>
      <%= link_to @u.full_name, profile_path(@u.handle) %><br>
      <%= post.content %>
      <% if signed_in? %>
        <% if current_user.id == post.user_id %><br>
          <%= link_to "Edit", edit_entry_comment_path(@entry.id,post.id) %>
          <%= link_to "Delete", comment_path(post.id), method: :delete, confirm: "Are you sure?" %>
        <% end %><hr>
      <% end %>
    <% end %>
    <% if signed_in? %>
    <%= link_to "Add Comment", add_entry_comment_path(@entry.id), class: "btn" %>
    <% end %>
  </div>
  </div>
</div>
