<div class="row">
  <div class="span8 offset2">
    <%= page_header do %>
      <h1>
        <%= avatar_profile_link @entry.user %>
        <%= @entry.user.full_name %>
        <small><%= time_ago_in_words(@entry.created_at) + " ago" %></small>
      </h1>
    <% end %>

    <strong><%= @entry.title %></strong>

    <p>
    	<%= image_tag @entry.photo.url %><br>
      <%= @entry.description %>
    </p>

    <hr />
    <div class="meta">
      <%= link_to 'Back', entries_path %>
      <% if signed_in? && @entry.user == current_user %>
        |
        <%= link_to "Edit", edit_entry_path(@entry) %> | 
        <%= link_to "Delete", @entry, method: :delete, data: { confirm: "Are you sure your want to delete this entry?"} %>
      <% end %>
    </div>
    <hr>
    <% unless @entry.comments.empty? %>
      <h2><%= pluralize(@entry.comments.size, 'comment') %></h2>

      <div id="comments">
      <% for comment in @entry.comments %>
        <div class="comment">
          <strong><%= link_to_unless comment.site_url.blank?, h(comment.author_name), h(comment.site_url) %></strong>
          <em>on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>
          <%=simple_format comment.content %>
        </div>
      <% end %>
      </div>
    <% end %>

    <h3>Add your comment:</h3>
    <%= render 'comments/form' %>

  </div>
</div>
