<div class="row">
  <div class="span8 offset2">
    <%= page_header do %>
      <h1>
        <%= avatar_profile_link @entry.user %>
        <%= @entry.user.full_name %>
        <small><%= time_ago_in_words(@entry.created_at) + " ago" %></small>
      </h1>
    <% end %>

    <strong><%= @entry.title %></strong>

    <p>
    	<%= image_tag @entry.photo.url %><br>
      <%= @entry.description %>
    </p>

    <hr />
    <div class="meta">
      <%= link_to 'Back', entries_path %>
      <% if signed_in? && @entry.user == current_user %>
        |
        <%= link_to "Edit", edit_entry_path(@entry) %> | 
        <%= link_to "Delete", @entry, method: :delete, data: { confirm: "Are you sure your want to delete this entry?"} %>
      <% end %>
    </div>
    <hr>
    <%= render partial: 'the_comments/tree', locals: { commentable: @entry, comments_tree: @comments } %>
  </div>
</div>
