<div class="page-header">
	<h1>Viewing Friendship</h1>
</div>

<div class="row">
	<div class="avatar span2">
		<%= image_tag @friendship.user.gravatar_url %><br>
		<%= @friendship.user.first_name %>
	</div>
	<div class="avatar span2">
		<%= image_tag @friendship.friend.gravatar_url %><br>
		<%= @friendship.friend.first_name %>
	</div>
</div>
<hr>

<h3><%= @friendship.sub_message %></h3>

<div class="form-actions">
	<% if @friendship.requested? %>
		<%= form_for @friendship, url: accept_friendship_path(@friendship), method: :put do |form| %>
			<%= submit_tag "Accept Friendship", class: 'btn btn-primary' %>
		<% end %>
	<% end %>

	<%= form_for @friendship, url: block_friendship_path(@friendship), method: :put do |form| %>
		<%= submit_tag "Block Friendship", class: 'btn' %>
	<% end %>

	<%= form_for @friendship, url: friendship_path(@friendship), method: :delete do |form| %>
		<%= submit_tag "Delete Friendship", class: 'btn btn-danger', confirm: "Are you sure you want to unfriend #{@friend.first_name}?" %>
	<% end %>
</div>