<!DOCTYPE html>
<html>
<head>
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<!--  -->
	<title>Happygram</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<span class="brand"><%= link_to "Happygram", entries_path %></span>
				<ul class="nav">
					<li><%= link_to "All Statuses", statuses_path %></li>
				</div>
			</div>
		</div>
		<div class="container">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>

			<%= yield %>
		</div>
	</body>
	</html>
