<!DOCTYPE html>
<html>
<head>
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<!--  -->
	<title>Happygram</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<span class="brand">
					<%= link_to (image_tag "HEADER_FOOTER/HeaderLogo.png"), "#" %></span>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to (image_tag("HEADER_FOOTER/Home.png")+"Feed").html_safe, entries_path %></li>
						<li><%= link_to (image_tag(current_user.profile_picture)+current_user.full_name).html_safe, "#" %>
						</li>
						<li><%= link_to (image_tag("HEADER_FOOTER/Logout.png")+"Log out"), destroy_user_session_path, method: :delete, confirm: "Sure?" %>
						</li>
					<% else %>
						<li><%= link_to (image_tag("HEADER_FOOTER/About.png")+"About").html_safe, "#" %></li>
						<li><%= link_to (image_tag("HEADER_FOOTER/Login.png")+"Sign up").html_safe, register_path %></li>
						<li><%= link_to (image_tag("HEADER_FOOTER/Login.png")+"Log in"), login_path %></li>
					<% end %>
				</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<% flash.each do |type, message| %>
				<div class="alert <%= flash_class type %>">
					<button class="close" data-dismiss="alert">x</button>
					<%= message %>
				</div>
			<% end %>
			
			<%= yield %>
		</div>
	</body>
	</html>
